/* style.css */

/* Define some color variables */
:root{
	--main-red: #C72828;
	--main-green: #15BA31;
}

body{
	background-color: #272626;
	/* background-image: linear-gradient(to right, black, darkgrey); */
}

.navbar {
	background: #181A19;
	/* background: black; */
	/* background-image: linear-gradient(to right, darkgrey , black); */
}

.navbar a{
	color: #C72828;
}

.widget{
	border: 1px solid black;
	border-radius: 5px;
	padding: 1em;
	background: #181A19;
	color: grey;
	height: 100%;
}

.locationTable{
	width: 100%;
	max-height: 100%;
}

.locationTable tr{
	transition: 0.1s;
}

.locationTable tr:nth-child(even){
	background-color: #484B48;
	color: black;
}

.locationTable tr:hover{
	background-color: var(--main-red);
	color: white;
}

.btn {
	font-size: .75em;
}

div::-webkit-scrollbar {
    width: 1em;
}
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
